.player {
  align-items: center;
  color: var(--blackColor);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  padding: 10px 0;
}

.player:last-of-type {
  border: none;
}

.player_info {
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  scrollbar-width: none;
}

.player_info_top {
  align-items: center;
  display: flex;
  gap: 6px;
}

.player_info_bottom {
  display: flex;
  gap: 8px;
}

.data_title {
  color: var(--color-quaternary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.data {
  color: var(--color-tertiary);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.stat_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.data_title_stat {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.ratingBadge {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  min-width: 44px;
  text-align: center;
}
