.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--blackColor);
  text-align: center;
  padding-top: 16px;
}

.noTransfers {
  text-align: center;
  color: #666;
  font-size: 16px;
  padding: 32px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon {
  position: absolute;
  height: 16px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.playerName {
  font-size: 18px;
  font-weight: 600;
  color: var(--blackColor);
}

.club {
  font-size: 14px;
  color: var(--color-add-player);
}

.transferInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  color: var(--color-add-player);
}
