.container {
  padding: 32px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: 40px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
