.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #52a383;
  color: #52a383;
  cursor: pointer;
  padding: 6px 20px;
  min-width: 32%;
  pointer-events: all;
}

.animationActive:active {
  transform: scale(0.98);
}

.active {
  background-color: #52a383;
  color: white;
  border: 1px solid #256648;
}

/* fontSize */

.fontSizeMedium {
  font-size: 16px;
}

.fontSizeLarge {
  font-size: 18px;
}

/* borderRadius */

.radiusSquare {
  border-radius: 5px;
}

.radiusRounded {
  border-radius: 12px;
}

.radiusMoreRounded {
  border-radius: 18px;
}

.radiusDefault {
  border-radius: 8px;
}

/* fontWeight */

.fontWeightLight {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: bold;
}

/* size */

.sizeNormal {
  padding: 6px 20px;
}

.sizeBig {
  padding: 10px 20px;
}

.sizeSmall {
  padding: 6px 20px;
  min-width: auto;
}

/* type */

.buttonTransparent {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
}

.buttonPrimary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
  color: white;
}

.buttonSecondary {
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
  color: white;
}

.buttonPrimaryDelete {
  background-color: #007bff;
  color: white;
  border: 1px solid white;
}

.buttonSecondaryDelete {
  background-color: #28a745;
  color: white;
  border: 1px solid white;
}

.buttonAddPlayer {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* width */

.bigWidth {
  width: 100%;
}

.sizeNormal {
  width: 32%;
}

/* shadow */

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* gap */

.gap {
  gap: 6px;
}
