.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.invert {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.h2 {
  font-size: 22px;
  color: var(--blackColor);
}

.button {
  margin: 10px 0;
  border: 1px solid #256648;
  background-color: #52a383;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
