.card {
  border-radius: 8px;
  background-color: var(--card-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 0 16px 12px;
  position: relative;
}

.icon_container {
  position: absolute;
  right: -8px;
  top: -12px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.lock {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
