.player_info {
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  scrollbar-width: none;
}

.player_info_top {
  align-items: center;
  display: flex;
  gap: 6px;
}

.player_info_bottom {
  display: flex;
  gap: 8px;
}

.data_title {
  color: var(--color-quaternary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.data {
  color: var(--color-tertiary);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
