.infos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: var(--color-tertiary);
  font-size: 12px;
}

.h2 {
  color: var(--color-tertiary);
  font-size: 14px;
}

.span {
  color: var(--color-quaternary);
}

.h3 {
  font-size: 20px;
}
