.select {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--card-background);
}

.select::-ms-expand {
  display: none;
}
