.icon {
  position: absolute;
  left: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  outline: none;
  border-radius: 12px;
  height: 100%;
  width: 95%;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 18px;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: var(--card-background) !important;
}

.input::placeholder {
  color: var(--color-secondary);
}

.input:-webkit-autofill {
  font-family: inherit !important;
  font-weight: bold !important;
  color: var(--color-secondary) !important;
  -webkit-text-fill-color: var(--color-secondary) !important;
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--card-background) inset !important;
}

.input:focus {
  background-color: var(--card-background) !important;
}
