.background {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--card-background);
  border-top: 1px solid rgb(107, 107, 107);
  z-index: 9999999;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.12);
}

.container {
  display: flex;
  justify-content: center;
  gap: 32px;
}
