.titles {
  align-items: center;
  display: flex;
  gap: 15px;
  padding: 12px;
}

.container_season {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  justify-items: center;
}
