.container_info {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  min-height: 50px;
  width: 100%;
  gap: 6px;
}

.infos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #22222673;
  font-size: 12px;
}

.h2 {
  color: #22222673;
  font-size: 14px;
}

.span {
  color: #222226;
}

.h3 {
  font-size: 20px;
}
