.container {
  padding: 16px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: 40px;
}

.hidden {
  display: none;
  height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bottonMenu {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  z-index: 9999999;
  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: var(--card-background);
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 2500px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
