.container_leagues {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0 10px;
}

.league_item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.background_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-image);
  border-radius: 4px;
  padding: 4px;
}

.logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.name {
  font-size: 15px;
  font-weight: 500;
  color: var(--blackColor);
}
