.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p {
  font-size: 14px;
  font-weight: bold;
  color: var(--color);
}

.container_colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.container_color {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 90%;
}

.span {
  font-size: 14px;
  color: var(--colorSpan);
}

.input {
  width: 100%;
  height: 35px;
  border-radius: 0 !important;
  border: none !important;
  background-color: var(--card-background);
  color: var(--blackColor);
}

.input::placeholder {
  color: var(--blackColor);
}
