.header_cell {
  font-size: 14px;
  font-weight: 600;
  color: #9e9e9e;
  text-align: center;
  padding: 10px 6px;
}

.header_cell:first-of-type {
  margin-left: 12px;
}

.header_cell:nth-child(2) {
  text-align: left;
  width: 130px;
}
