.container_name_over,
.container_league,
.container_name_over_expand {
  width: 120px;
  max-width: 120px;
  height: 100%;
  gap: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container_name_over_expand {
  justify-content: center;
}

.name {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  min-width: 100%;
  justify-content: center;
  flex-shrink: 0;
}

.league_container {
  display: flex;
  align-items: center;
  width: max-content;
  min-width: 100%;
  flex-shrink: 0;
  gap: 6px;
}

.no_wrap {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  min-width: 0;
  flex-shrink: 1;
}

.marquee {
  min-width: var(--dynamic-min-width, 100%);
  --scroll-distance: 0px;
  justify-content: flex-start;
  animation: marqueeBlinkReset 6s linear infinite;
}

@keyframes marqueeBlinkReset {
  0%,
  10% {
    transform: translateX(0);
    opacity: 1;
  }

  80% {
    transform: translateX(calc(-1 * var(--scroll-distance)));
    opacity: 1;
  }

  85% {
    transform: translateX(calc(-1 * var(--scroll-distance)));
    opacity: 0;
  }

  90% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container_league::-webkit-scrollbar {
  display: none;
}

.container_name_over::-webkit-scrollbar {
  display: none;
}

.container_season {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100px;
  max-width: 100px;
  height: 100%;
  max-width: 150px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: center;
}

.season {
  font-size: 15px;
  display: flex;
  align-items: center;
  color: var(--color-tertiary);
}

.league_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-image);
  border-radius: 2px;
  padding: 1px;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-image);
  border-radius: 10px;
  padding: 5px;
}

.logo {
  width: 25px;
}

.over {
  font-size: 14px;
}

.expand_container {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 10px;
  height: 100%;
  text-align: center;
}

.league_image {
  width: 15px;
}

.league_name {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
