@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --blackColor: #010127;
  --color: #919191;
  --colorSpan: #323232;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}
