.icon {
  position: absolute;
  left: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  outline: none;
  border-radius: 12px;
  height: 100%;
  width: 95%;
  color: #2b5842;
  font-weight: bold;
  font-size: 18px;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #ffffff !important;
}

.input::placeholder {
  color: rgba(43, 88, 66, 0.8);
}

.input:-webkit-autofill {
  font-family: inherit !important;
  font-weight: bold !important;
  color: #2b5842 !important;
  -webkit-text-fill-color: #2b5842 !important;
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.input:focus {
  background-color: #ffffff !important;
}
