.card {
  background-color: var(--card-background);
  border-radius: 12px;
  box-shadow: 0 4px 12px #0003;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  margin-bottom: 0px;
  transition: margin-bottom 0.3s ease-in-out;
}

.card[data-few-items="true"][data-select-open="true"],
.card[data-few-items="true"]:focus-within {
  margin-bottom: 66px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 35px;
}

.cardHeaderWithSelect {
  height: 90px;
}

.h2 {
  font-size: 19px;
  color: var(--color-quaternary);
  gap: 8px;
  display: flex;
  align-items: center;
}

.selectCompact {
  padding: 12px 14px;
}

.icon {
  color: var(--club-color);
}
