.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80px;
  gap: 32px;
  padding: 0 24px;
  background-color: var(--card-background);
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--border-navbar);
  box-shadow: 0 6px 8px #00000011;
  position: sticky;
  top: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav_title {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  height: 80px;
  padding: 0 24px;
  background-color: var(--card-background);
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--border-navbar);
  box-shadow: 0 6px 8px #00000011;
  position: sticky;
  top: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.options {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-weight: 600;
  border-radius: 6px;
  font-size: 20px;
}

.option_title {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-weight: 600;
  border-radius: 6px;
  font-size: 20px;
}
