.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px #0003;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--blackColor);
}

.p {
  text-align: center;
}
