.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  background-color: var(--card-background, #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 12px #0003;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: var(--blackColor, #000000);
  text-align: center;
  margin-bottom: 24px;
}

.possession_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.badge {
  padding: 4px 14px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.possession_bar_wrapper {
  display: flex;
  height: 12px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.stat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
  color: var(--blackColor, #000000);
}

.bg_home {
  background-color: #0bb32a;
}

.bg_away {
  background-color: #374df5;
}
