.empty_season {
  background-color: var(--card-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  border-radius: 6px;
  color: var(--blackColor);
}
