.form_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 14px;
  margin-left: 4px;
}

.input_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form_group:first-child {
  grid-column: 1 / -1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.input {
  border: none;
  outline: none;
  border-radius: 12px;
  height: 48px;
  width: 100%;
  color: var(--club-color) !important;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent !important;
}

.input::placeholder {
  color: var(--club-color) !important;
  opacity: 0.6;
  font-weight: 500;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--club-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
